<article
  class="{{ if not .Site.Params.homepage.showRecent }}
    h-full
  {{ end }} flex flex-col items-center justify-center text-center"
>
  {{ partial "profile.html" }}
  <section class="prose dark:prose-invert">{{ .Content | emojify }}</section>
</article>
<section>
  {{ partial "recent-articles.html" . }}
</section>

{{ $email := "" }}
{{ $xTwitter := "" }}
{{ $linkedin := "" }}
{{ range site.Language.Params.Author.links }}
  {{ with .email }}{{ $email = . }}{{ end }}
  {{ with index . "x-twitter" }}{{ $xTwitter = . }}{{ end }}
  {{ with .linkedin }}{{ $linkedin = . }}{{ end }}
{{ end }}

<section class="flex flex-col items-center text-center" style="margin-top: 3rem;">
  <h2 class="text-2xl font-bold">Want to get in touch?</h2>
  <p class="mb-4 mt-8 max-w-prose text-center text-base leading-relaxed text-neutral-500 dark:text-neutral-400">
    I'm happy to connect with you by
    <a class="font-medium text-primary-600 hover:underline dark:text-primary-400" href="{{ $email | safeURL }}">e-mail</a>,
    on
    <a class="font-medium text-primary-600 hover:underline dark:text-primary-400" href="{{ $xTwitter | safeURL }}" target="_blank" rel="me noopener noreferrer">X</a>,
    or
    <a class="font-medium text-primary-600 hover:underline dark:text-primary-400" href="{{ $linkedin | safeURL }}" target="_blank" rel="me noopener noreferrer">LinkedIn</a>.
  </p>
</section>
