{{- define "partials/inline/breadcrumbData" -}}
  {{- $scratchCtx := .scratch -}}
  {{- with .parent }}
    {{ partial "inline/breadcrumbData" (dict "scratch" $scratchCtx "parent" .Parent) }}
    {{- $scratchCtx.Add "listItem" (slice (dict
      "@type" "ListItem"
      "position" ($scratchCtx.Get "count")
      "name" (.Title | humanize | title)
      "item" .Permalink
      ))
    -}}
    {{- $scratchCtx.Add "count" 1 -}}
  {{- end }}
{{- end -}}

{{ if .IsHome -}}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "@id": "{{ (site.GetPage "/").Permalink | safeURL }}",
    "name": "{{ .Site.Title | safeJS }}",
    {{ with .Site.Params.description }}"description": "{{ . | safeJS }}",{{ end }}
    {{ with .Site.Language.Locale }}"inLanguage": "{{ . }}",{{ end }}
    "url": "{{ (site.GetPage "/").Permalink | safeURL }}",
    {{ with .Site.Params.keywords }}"keywords": {{ . }},{{ end }}
    "publisher" : {
      "@type": "Person",
      "@id": "{{ (site.GetPage "/about").Permalink | safeURL }}#person",
      "name": "{{ .Site.Language.Params.Author.name | safeJS }}",
      "url": "{{ (site.GetPage "/about").Permalink | safeURL }}"
    }
  }
  </script>
{{ else if eq .RelPermalink "/about/" }}
  {{- $sameAs := slice -}}
  {{- range .Site.Language.Params.Author.links -}}
    {{- range $name, $url := . -}}
      {{- if ne $name "email" -}}
        {{- $sameAs = $sameAs | append $url -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- $authorImage := resources.Get .Site.Language.Params.Author.image -}}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ProfilePage",
    "@id": "{{ .Permalink | safeURL }}#profile",
    "url": "{{ .Permalink | safeURL }}",
    "name": "{{ .Title | safeJS }}",
    {{ with .Description }}"description": "{{ . | safeJS }}",{{ end }}
    {{ with .Site.Language.Locale }}"inLanguage": "{{ . }}",{{ end }}
    "mainEntity": {
      "@type": "Person",
      "@id": "{{ .Permalink | safeURL }}#person",
      "name": "{{ .Site.Language.Params.Author.name | safeJS }}",
      "url": "{{ .Permalink | safeURL }}",
      "description": "Tim McCallum writes about engineering, technical leadership, emerging technology, and the projects and interests that keep him learning.",
      "knowsAbout": ["Engineering", "Technical leadership", "Technology"],
      {{ with $authorImage }}"image": "{{ .Permalink | safeURL }}",{{ end }}
      "sameAs": {{ $sameAs | jsonify | safeJS }}
    }
  }
  </script>
{{ else if .IsPage }}
  {{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "{{ if eq .Section "posts" }}BlogPosting{{ else }}Article{{ end }}",
    "articleSection": "{{ (site.GetPage .Section).Title | safeJS }}",
    "name": "{{ .Title | safeJS }}",
    "headline": "{{ .Title | safeJS }}",
    {{ with .Description }}"description": "{{ . | safeJS }}",{{ end }}
    {{ with .Summary }}"abstract": "{{ . | safeJS }}",{{ end }}
    {{ with .Site.Language.Locale }}"inLanguage": "{{ . }}",{{ end }}
    "url" : "{{ .Permalink }}",
    {{ with .Params.feature }}{{ with $.Resources.GetMatch . }}"image": "{{ .Permalink | safeURL }}",{{ end }}{{ end }}
    "author" : {
      "@type": "Person",
      "@id": "{{ (site.GetPage "/about").Permalink | safeURL }}#person",
      "name": "{{ .Site.Language.Params.Author.name | safeJS }}",
      "url": "{{ (site.GetPage "/about").Permalink | safeURL }}"
    },
    {{ with .PublishDate }}"copyrightYear": "{{ .Format "2006" }}",{{ end }}
    {{ with .Date }}"dateCreated": "{{ .Format $iso8601 }}",{{ end }}
    {{ with .PublishDate }}"datePublished": "{{ .Format $iso8601 }}",{{ end }}
    {{ with .ExpiryDate }}"expires": "{{ .Format $iso8601 }}",{{ end }}
    {{ with .Lastmod }}"dateModified": "{{ .Format $iso8601 }}",{{ end }}
    {{ if .Keywords }}
    {{ with .Keywords }}"keywords": {{ . }},{{ end }}
    {{ else }}
    {{ with .Params.tags }}"keywords": {{ . }},{{ end }}
    {{ end }}
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ .Permalink | safeURL }}"
    },
    "wordCount": "{{ .WordCount }}"
  }
  </script> {{- /* Source: https://bullaki.com/projects/web-design/seo-with-hugo-5-breadcrumbs/ */}}
  {{- $scratch := newScratch -}}
  {{- $scratch.Set "count" 1 -}}
  {{ partial "inline/breadcrumbData" (dict "scratch" $scratch "parent" .Parent) }}

  {{- with index (.GetTerms "categories") 0 -}}
    {{- $scratch.Add "listItem" (slice (dict
      "@type" "ListItem"
      "position" ($scratch.Get "count")
      "name" .LinkTitle
      "item" .Permalink
      ))
    -}}
    {{- $scratch.Add "count" 1 -}}
  {{- end }}

  {{- $scratch.Add "listItem" (slice (dict
    "@type" "ListItem"
    "position" ($scratch.Get "count")
    "name" (.Title | humanize | title)
    ))
  -}}

  {{- $scratch.SetInMap "breadcrumb" "@context" "https://schema.org" -}}
  {{- $scratch.SetInMap "breadcrumb" "@type" "BreadcrumbList" -}}
  {{- $scratch.SetInMap "breadcrumb" "itemListElement" ($scratch.Get "listItem") -}}

  <script type="application/ld+json">
    {{ $scratch.Get "breadcrumb" | jsonify (dict "prefix" " " "indent" "  ") | safeJS }}
  </script>
{{- end }}
